        .header {
            background-color: #b22830;
            padding-top: 30px;
            text-align: center;
            width: 100%;
        }
        
        .header .col-md-3 img {
            width: 130px;
            height: 90px;
        }
        
        img {
            width: 150px;
            height: 150px;
            text-align: left;
        }
        
        .menu {
            background-color: #b22830;
        }
        
        .footer {
            background-color: #53382c;
            padding: 30px;
            color: white;
        }
        
        *::-webkit-scrollbar {
            display: none;
        }